<header class="header" role="banner">
    <a href="#" class="mobileMenu-toggle" data-mobile-menu-toggle="menu">
        <span class="mobileMenu-toggleIcon">Toggle menu</span>
    </a>
    {{> components/common/navigation}}

    {{{region name="header_bottom"}}}
    <div class="navPages-container" id="menu" data-menu>
        
    {{#if page_type '===' 'default'}}
        <h1 class="header-logo header-logo--{{theme_settings.logo-position}}">
            {{> components/common/store-logo}}
        </h1>
    {{else}}
        <div class="header-logo header-logo--{{theme_settings.logo-position}}">
            {{> components/common/store-logo}}
        </div>
    {{/if}}
        {{> components/common/navigation-menu}}
        
    </div>
    <div class="header-logo header-logo--{{theme_settings.logo-position}}">
        {{> components/common/store-logo}}
</div>
</header>

<li class="navUser-item navUser-item--cart custom_cart">
            <a
                class="navUser-action"
                data-cart-preview
                data-dropdown="cart-preview-dropdown"
                data-options="align:right"
                href="{{urls.cart}}">
                <span class="navUser-item-cartLabel"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span> <span class="countPill{{#if cart.items}} countPill--positive{{/if}} cart-quantity">{{cart.quantity}}</span>
            </a>

            <div class="dropdown-menu" id="cart-preview-dropdown" data-dropdown-content aria-hidden="true"></div>
 </li>

<!--<li class="navUser-item navUser-item--cart custom_cart">
            <a
                class="navUser-action"
                data-cart-preview
                data-dropdown="cart-preview-dropdown"
                data-options="align:right"
                href="{{urls.cart}}">
                <span class="navUser-item-cartLabel"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span> <span class="countPill{{#if cart.items}} countPill--positive{{/if}} cart-quantity">{{cart.quantity}}</span>
            </a>

            <div class="dropdown-menu" id="cart-preview-dropdown" data-dropdown-content aria-hidden="true"></div>
</li>-->
<div class="banners" data-banner-location="top" id="search-mmy" style="display:none;">
    <div class="banner">
        <div class="search-box-area">
          <h4>Vehicle Lookup</h4>
          <!--<form action="http://ovsokolov-gmail-com2.mybigcommerce.com/search.php?search_query=product&amp;section=product">
          -->
            <div class="form-group">
              <div class="frm-fled">
                <select id="vehicle-make">
                  <option>Choose Make</option>
                </select>
              </div>
              <!-- End Of frm-fled Div -->
              <div class="frm-fled">
                <select id="vehicle-model">
                  <option>Choose Model</option>
                </select>
              </div>
              <!-- End Of frm-fled Div -->
              <div class="frm-fled">
                <select id="vehicle-year">
                  <option>Choose Year</option>
                </select>
              </div>
              <!-- End Of frm-fled Div -->
              <div class="frm-fled">
                <select id="vehicle-option">
                  <option>Choose Option</option>
                </select>
              </div>
              <!-- End Of frm-fled Div -->
              <div class="act-btn">
                <span>
                    <button id="mmy-reset" class="button">Reset</button>
                </span> 
                <span> 
                    <button id="mmy-submit" class="button button--primary">Search</button>
                </span></div>
              <!-- End Of act-btn Div --></div>
        </div>
    </div>
</div>
<input type="hidden" id="customPageType" value="{{page_type}}"/>

