---
product:
---
<div class="productView">
    <section class="productView-images" data-image-gallery>
        <figure class="productView-image"
                data-image-gallery-main
                data-zoom-image="{{getImage product.main_image 'zoom_size' (cdn theme_settings.default_image_product)}}"
                >
            <a href="{{getImage product.main_image 'zoom_size' (cdn theme_settings.default_image_product)}}">
                <img class="productView-image--default"
                     src="{{getImage product.main_image 'product_size' (cdn theme_settings.default_image_product)}}"
                     alt="{{product.main_image.alt}}" title="{{product.main_image.alt}}" data-main-image>
            </a>
        </figure>
    </section>
    <article class="productView-description"{{#if schema}} itemprop="description"{{/if}}>
                {{{product.description}}}
    </article>
</div>